<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 offset-lg-4 offset-md-4 offset-sm-4 mt-2 gf-login">
        <div class="card">
            <div class="card-header">
                <span class="iconfont">&#xe6c9;</span>
                <span style="font-size: 18px;">用户登录</span>
            </div>
            <div class="card-body">
                <form id="loginForm" action="/login" method="post">
                    <div class="form-group row">
                        <label class="col-lg-2 col-md-2 col-sm-2 col-form-label required text-right" for="passport">账号：</label>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <input type="text" class="form-control"  minlength="3" maxlength="20" id="passport" name="passport" value="goframe" placeholder="请输入账号" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-md-2 col-sm-2 col-form-label required text-right" for="password">密码：</label>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <input type="password" class="form-control" minlength="6" maxlength="20" id="password" name="password" value="123456" placeholder="请输入密码"  required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-md-2 col-sm-2 col-form-label required text-right" for="captcha">验证码</label>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" minlength="4" maxlength="4" id="captcha" name="captcha" placeholder="请输入正确的验证码" required />
                                <div class="input-group-append ml-2">
                                    <span class="input-group-text " style="cursor: pointer;padding: 0;">
                                        <img id="code-img" src="" class="captcha" loading="lazy" onclick="gf.reloadCaptcha('code-img')" alt="验证码" width="130" title="看不清？点击刷新"/>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4 col-md-4 col-sm-4 offset-lg-2 offset-lg-2 offset-md-2 offset-sm-2">
                            <button type="submit" class="btn btn-primary btn-block">登录</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!--<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 offset-lg-4 offset-md-4 offset-sm-4">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">登录</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">注册</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="myTabContent">
                    &lt;!&ndash; 登录表单 &ndash;&gt;
                    <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                        <form id="loginForm" action="/login" method="post">
                            <div class="form-group row">
                                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label required text-right" for="passport">账号</label>
                                <div class="col-lg-9 col-md-9 col-sm-9">
                                    <input type="text" class="form-control" minlength="3" maxlength="20" id="passport" name="passport" placeholder="请输入账号" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label required text-right" for="password">密码</label>
                                <div class="col-lg-9 col-md-9 col-sm-9">
                                    <input type="password" class="form-control" minlength="6" maxlength="20" id="password" name="password" placeholder="请输入密码" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label required text-right" for="captcha">验证码</label>
                                <div class="col-lg-9 col-md-9 col-sm-9">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" minlength="4" maxlength="4" id="captcha" name="captcha" placeholder="请输入正确的验证码" required />
                                        <div class="input-group-append ml-2">
                                            <span class="input-group-text" style="cursor: pointer;padding: 0;">
                                                <img id="login-code-img" src="" class="captcha" loading="lazy" onclick="gf.reloadCaptcha('login-code-img')" alt="验证码" width="130" title="看不清？点击刷新" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-4 col-md-4 col-sm-4 offset-lg-2 offset-md-2 offset-sm-2">
                                    <button type="submit" class="btn btn-primary btn-block">登录</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    &lt;!&ndash; 注册表单 &ndash;&gt;
                    <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                        <form id="registerForm" action="/register" method="post">
                            <div class="form-group row">
                                <label for="rePassport" class="col-lg-2 col-md-2 col-sm-2 col-form-label required text-right">账号</label>
                                <div class="col-lg-9 col-md-9 col-sm-9">
                                    <input type="text" class="form-control" minlength="3" maxlength="20" id="rePassport" placeholder="请输入账号" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="reNickname" class="col-lg-2 col-md-2 col-sm-2 col-form-label required text-right">昵称</label>
                                <div class="col-lg-9 col-md-9 col-sm-9">
                                    <input type="text" class="form-control" minlength="2" maxlength="20" id="reNickname"  placeholder="请输入昵称" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="rePassword" class="col-lg-2 col-md-2 col-sm-2 col-form-label required text-right">密码</label>
                                <div class="col-lg-9 col-md-9 col-sm-9">
                                    <input type="password" class="form-control" minlength="6" maxlength="20" id="rePassword" placeholder="请输入密码" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="rePassword2" class="col-lg-2 col-md-2 col-sm-2 col-form-label required text-right">确认密码</label>
                                <div class="col-lg-9 col-md-9 col-sm-9">
                                    <input type="password" class="form-control" minlength="6" maxlength="20" id="rePassword2" placeholder="请再次输入密码" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="reCaptcha" class="col-lg-2 col-md-2 col-sm-2 col-form-label required text-right">验证码</label>
                                <div class="col-lg-9 col-md-9 col-sm-9">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" minlength="4" maxlength="4" id="reCaptcha" placeholder="请输入正确的验证码" required>
                                        <div class="input-group-append ml-2">
                                            <span class="input-group-text" style="cursor: pointer;padding: 0;">
                                                <img id="register-code-img" class="captcha" loading="lazy" onclick="gf.reloadCaptcha('register-code-img')">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-4 col-md-4 col-sm-4 offset-lg-2 offset-md-2 offset-sm-2">
                                    <button type="submit" name="register" class="btn btn-primary btn-block">注册</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->


<script type="text/javascript">
jQuery(function($) {
    gf.reloadCaptcha();
    /*$('a[data-toggle="tab"]').on("show.bs.tab", function(e) {
        //const activeTable = $(e.target).attr("href");
        //console.log(activeTable);
        const activeText = $(e.target).text();
        console.log(activeText);
        if (activeText === "登录") {
            gf.reloadCaptcha('login-code-img')
        } else if (activeText === "注册") {
            gf.reloadCaptcha('register-code-img');
        } else {
            gf.reloadCaptcha();
        }
    });*/
    // footer悬浮
    $("footer").addClass("fixed-bottom");

    $('#loginForm').validate({
        errorElement: 'div',
        errorClass: 'validation-error-block',
        focusInvalid: true,
        messages: {
            passport: {
                required: "请输入账号"
            },
            password: {
                required: "请输入密码"
            },
            captcha: {
                required: "请确认验证码"
            }
        },
        submitHandler: function(form) {
            const $button = $('button[type=submit]');
            $button.attr('disabled', 'true');
            const $password = $("#password");

            // let passport = $('[name="passport"]').val();
            // let password = $('[name="password"]').val();
            const passport = $("#passport").val();
            const password = $password.val();
            $password.val(hex_md5(passport + password));

            jQuery(form).ajaxSubmit({
                dataType: 'json',
                success:  function (r, textStatus) {
                    if (r.code <= 0) {
                        swal({
                            title:   "登录成功",
                            text:    "页面将自动跳转到登录前页面",
                            icon:    "success",
                            timer:   300,
                            buttons: false
                        }).then((value) => {
                            if (r.redirect !== "") {
                                window.location.href = r.redirect;
                            } else {
                                window.location.href = "/";
                            }
                        });
                    } else {
                        swal({
                            text:   r.message,
                            icon:   "warning",
                            button: "确定",
                        });
                        $password.val('');
                        gf.reloadCaptcha();
                    }
                }
            });
            $button.removeAttr('disabled');
        },
        errorPlacement: function (error, element) {
            element.addClass("is-invalid");
            error.appendTo(element.parent());
        }
    });

    /*$('#registerForm').validate({
        errorElement: 'div',
        errorClass: 'validation-error-block',
        focusInvalid: true,
        rules: {
            rePassword2: {
                equalTo: "#rePassword"
            },
        },
        messages: {
            rePassport: {
                required: "请输入账号"
            },
            rePassword: {
                required: "请输入密码"
            },
            rePassword2: {
                required: "请确认密码",
                equalTo: "输入的新密码两次不同"
            },
            reNickname: {
                required: "请确认昵称"
            },
            reCaptcha: {
                required: "请确认验证码"
            }
        },
        submitHandler: function(form) {
            $('button[type=submit][name=register]').attr('disabled', 'true');

            // 传输加密
            let passport  = $("#rePassport").val();
            let password  = $("#rePassword").val();
            let password2 = $("#rePassword2").val();
            $("#rePassword").val(hex_md5(passport + password));
            $("#rePassword2").val(hex_md5(passport + password2));

            // 使用 FormData 构建表单数据
            const formData = new FormData(form);
            formData.set("passport", $("#rePassport").val());
            formData.set("password", $("#rePassword").val());
            formData.set("nickname", $("#reNickname").val());
            formData.set("captcha", $("#reCaptcha").val());

            $.ajax({
                url: $(form).attr('action'),
                type: $(form).attr('method'),
                dataType: 'json',
                data: formData,
                processData: false, // 告诉 jQuery 不要处理发送的数据
                contentType: false, // 告诉 jQuery 不要设置内容类型
                success:  function (r, textStatus) {
                    if (r.code <= 0) {
                        swal({
                            title:   "注册成功",
                            text:    "页面将自动跳转到注册前页面",
                            icon:    "success",
                            timer:   2000,
                            buttons: false
                        }).then((value) => {
                            if (r.redirect != "") {
                                window.location.href = r.redirect;
                            } else {
                                window.location.href = "/";
                            }
                        });
                    } else {
                        if (r.message != "") {
                            swal({
                                text:   r.message,
                                icon:   "warning",
                                button: "确定"
                            });
                        }
                        $("#reCaptcha").val('');
                        $("#rePassword").val(password);
                        $("#rePassword2").val(password2);
                        gf.reloadCaptcha()
                    }
                }
            });
            $('button[type=submit][name=register]').removeAttr('disabled');
        },
        errorPlacement: function (error, element) {
            element.addClass("is-invalid")
            error.appendTo(element.parent());
        }
    });*/
});
</script>
