{{if .ContentType}}
{{ $contentType := $.ContentType}}
<li class="list-group-item gf-list-item">
    {{ $cate := .Query.cate }}
    {{ $sort := .Query.sort }}
    <a class="btn btn-link {{if not $cate}}text-primary{{else}}text-secondary{{end}} top-node-btn btn-sm"
        href="/user/{{$contentType}}?sort={{.Query.sort}}">全部</a>
    {{range $index, $item := .BuildIn.CategoryTree .ContentType}}
    <a class="btn btn-link {{if eq $cate $item.Id}}text-primary{{else}}text-secondary{{end}} top-node-btn btn-sm"
        href="/user/{{$contentType}}?cate={{$item.Id}}&sort={{$.Query.sort}}">{{$item.Name}}</a>
    {{end}}
    <div class="float-right">
        <a class="btn btn-link {{if eq $sort 0}}text-primary{{else}}text-secondary{{end}} top-node-btn btn-sm"
            href="/user/{{$contentType}}?cate={{$cate}}&sort=0">最新</a>
        <a class="btn btn-link {{if eq $sort 1}}text-primary{{else}}text-secondary{{end}} top-node-btn btn-sm"
            href="/user/{{$contentType}}?cate={{$cate}}&sort=1">活跃</a>
        <a class="btn btn-link {{if eq $sort 2}}text-primary{{else}}text-secondary{{end}} top-node-btn btn-sm"
            href="/user/{{$contentType}}?cate={{$cate}}&sort=2">热度</a>
    </div>
</li>
{{else}}
<li class="list-group-item">
    <div class="float-right">
        <a class="btn btn-link {{if eq $sort 0}}text-primary{{else}}text-secondary{{end}} top-node-btn btn-sm"
            href="/user/{{$contentType}}?cate={{$cate}}&sort=0">最新</a>
        <a class="btn btn-link {{if eq $sort 1}}text-primary{{else}}text-secondary{{end}} top-node-btn btn-sm"
            href="/user/{{$contentType}}?cate={{$cate}}&sort=1">活跃</a>
        <a class="btn btn-link {{if eq $sort 2}}text-primary{{else}}text-secondary{{end}} top-node-btn btn-sm"
            href="/user/{{$contentType}}?cate={{$cate}}&sort=2">热度</a>
    </div>
</li>
{{end}}

{{if .Data.Content}}
{{range $index, $item := .Data.Content.List}}
{{ $contentId := $item.Content.Id }}
<li class="list-group-item gf-list-item">
    <div class="gf-list-item-img">
        <img src="{{$item.User.Avatar}}" style="height: 36px;width:36px;">
    </div>
    <div class="gf-list-item-text">
        <div class="float-left">
            <span class="badge badge-primary">{{$item.Category.Name}}</span>
            <span class="gf-list-item-title">
                <a href="/{{$item.Category.ContentType}}/{{$contentId}}"
                    style="color: #222;">{{$item.Content.Title}}</a>
            </span>
        </div>
        <div class="float-right">
            <span style="font-size: 12px;color: #ccc;text-align: right;">
                <span class="icon iconfont">&#xe660;</span> {{$item.Content.ViewCount}}
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <span class="icon iconfont">&#xe6ab;</span> {{$item.Content.ReplyCount}}
                &nbsp;&nbsp;|&nbsp;&nbsp;
            </span>
            <span style="font-size: 12px;color: #ccc;">{{$item.Content.CreatedAt | $.BuildIn.FormatTime}}</span>

            {{if eq $.Data.User.Id $.Context.User.Id}}
            <span style="font-size: 12px;color: #ccc;text-align: right;">
                &nbsp;|&nbsp;&nbsp;
                <a href="/content/update/{{$contentId}}">
                    <span class="icon iconfont" style="color: darkred;">&#xe780;</span>
                </a>
                &nbsp;|&nbsp;&nbsp;
                <a href="javascript:void(0);" onclick="gf.content.delete({{$contentId}},'/user/{{$.ContentType}}')">
                    <span class="icon iconfont" style="color: black;">&#xe63c;</span>
                </a>
            </span>
            {{end}}
        </div>
    </div>
</li>
{{end}}

{{if gt .Data.Content.Total .Data.Content.Size}}
<li class="list-group-item gf-list-item">
    <ul class="pagination">
        {{.BuildIn.Page .Data.Content.Total .Data.Content.Size }}
    </ul>
</li>
{{end}}
{{end}}