<link rel="stylesheet" href="/plugin/vditor/dist/index.css"/>
<script src="/plugin/vditor/dist/index.min.js" defer></script>

<div class="col-lg-10 col-md-10 col-sm-10 offset-lg-1 offset-md-1 offset-sm-1 gf-publish">
    <div class="card">
        <div class="card-header">
            发布内容
        </div>
        <div class="card-body">
            <form id="contentForm" action="/content/create" method="post">
                <input type="hidden" value="{{.ContentType}}" name="type" />
                <div class="form-group row">
                    <label class="col-lg-1 col-md-1 col-sm-1 col-form-label required" for="title">标题</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="title" name="title" placeholder="请输入标题" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-1 col-md-1 col-sm-1 col-form-label required" for="categoryId">栏目</label>
                    <div class="col-lg-10">
                        <div class="form-group">
                            <!--通过URL上面的参数保证下拉选中对应的-->
                            <select class="form-control" name="categoryId" id="categoryId">
                                {{ $cate := .Query.cate }}
                                {{range $index, $item := .BuildIn.CategoryTree .ContentType}}
                                    <option value="{{$item.Id}}" {{if eq (printf "%d" $item.Id) $cate}}selected{{end}}>{{$item.Name}}</option>
                                {{end}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-1 col-md-1 col-sm-1 col-form-label required">内容</label>
                    <div class="col-lg-10">
                        <textarea name="content" style="display: none"></textarea>
                        <div id="vditor"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2 col-md-2 col-sm-2 offset-lg-1 offset-md-1 offset-sm-1">
                        <button type="submit" class="btn btn-primary btn-block">发布</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<script type="text/javascript">
jQuery(function($) {
    // 编辑器初始化, 20 << 20 20 * 1024 * 1024
    const editor = vditorInit(400, "请输入内容哟", undefined, 20 << 20);
    // 表单校验
    $('#contentForm').validate({
        errorElement: 'div',
        errorClass: 'validation-error-block',
        focusInvalid: true,
        rules: {
            title: {
                required: true
            },
            categoryId: {
                required: true
            }
        },
        messages: {
            title: {
                required: "请输入标题"
            },
            categoryId: {
                required: "请选择栏目"
            }
        },
        submitHandler: function (form) {
            let submit = $('button[type=submit]')
            if (submit.attr('disabled') === 'true') {
                swal({
                    text: "请勿重复提交",
                    icon: "warning",
                    button: "确定",
                });
                return
            }
            // 将编辑器的内容设置到content输入域中
            let value = editor.getValue()
            if (value.length < 0) {
                swal({
                    text: "内容不能为空",
                    icon: "warning",
                    button: "确定",
                });
                return
            }
            $('textarea[name=content]').val(value);

            submit.attr('disabled', 'true');

            submitContentForm($(form), $("input[type='hidden'][name='type']").val(), "发布");
            /*$(form).ajaxSubmit({
                dataType: 'json',
                success:  function (r, textStatus) {
                    if (r.code <= 0) {
                        swal({
                            title:   "发布成功",
                            text:    "内容发布成功",
                            icon:    "success",
                            buttons: ["继续撰写", "查看详情"]
                        }).then((value) => {
                            if (value) {
                                window.location.href = "/{{.ContentType}}/" + r.data.contentId
                            } else {
                                window.location.reload()
                            }
                        });
                    } else {
                        swal({
                            text:   r.message,
                            icon:   "warning",
                            button: "确定",
                        });
                    }
                }
            });*/
            submit.removeAttr('disabled');
        },
        errorPlacement: function (error, element) {
            element.addClass("is-invalid")
            error.appendTo(element.parent());
        }
    });
});
</script>




