<div class="row gf-list">
    <div class="col-lg-2 col-md-2 col-sm-2 offset-lg-1 offset-md-1 offset-sm-1">
        {{include "index/user/user_menu.html" .}}
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="card gf-person">
            <div class="card-header">
                <span class="iconfont">&#xe60e;&nbsp;</span>我的消息 {{.Query.targetType}}
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item gf-list-item">
                        <a class="btn btn-link text-primary top-node-btn btn-sm" href="/profile/message?type=1">
                            <h4>内容回复</h4>
                        </a>
                        <!--  <a class="btn btn-link {{if not $.Query.type}}text-primary{{else}}text-secondary{{end}} top-node-btn btn-sm"-->
                        <!--     href="javascript:alert('敬请期待');">个人私信</a>-->
                        <!--   <a class="btn btn-link {{if not $.Query.type}}text-primary{{else}}text-secondary{{end}} top-node-btn btn-sm"-->
                        <!--    href="javascript:alert('敬请期待');">系统消息</a>-->
                    </li>


                    {{range $index, $item := .Data.List}}
                    <li class="list-group-item list-group-item-action gf-list-item">
                        {{if $item.User}}
                        <h5 class="mb-1">
                            <img class="nav-avatar" src="{{$item.User.Avatar}}" alt="" width="36" height="36"/>
                            <span>{{$item.User.Nickname}}</span>
                        </h5>
                        {{else}}
                        <h3 class="mb-1">
                            匿名用户
                        </h3>
                        {{end}}

                        <div class="gf-list-item-text" style="width: 100%">
                            <div class="float-left">
                                {{if $item.Category}}
                                <span class="badge badge-primary float-left">{{$item.Category.Name}}</span>
                                {{else}}
                                <span class="badge badge-secondary float-left">未分类</span>
                                {{end}}

                                {{if $item.Content}}
                                <a href="/{{$item.Reply.TargetType}}/{{$item.Reply.TargetId}}"
                                   class="d-inline-block text-truncate float-left"
                                   style="margin-left: 10px;color: #222;"
                                   title="查看详情">
                                    {{$item.Content.Title | $.BuildIn.HTMLEscapeStr}} </a>
                                {{else}}
                                <span class="d-inline-block text-truncate float-left"
                                      style="max-width: 400px;margin-left: 10px;color: #222;"
                                      title="{{$item.Reply.Content}}">暂无内容</span>
                                {{end}}

                                <span class="d-inline-block float-left">&nbsp;&nbsp;回复内容:&nbsp;&nbsp;</span>
                                <span class="d-inline-block text-truncate float-left"
                                      style="max-width: 400px;">{{$item.Reply.Content}}
                                </span>

                            </div>
                            <div class="float-right">
                                <small style="margin-right: 15px;line-height: 15px;">
                                    {{$item.Reply.CreatedAt | $.BuildIn.FormatTime}}
                                </small>
                                <span style="font-size: 12px;color: #ccc;text-align: right;">
                                    <span class="icon iconfont icon-cai"></span> {{$item.Reply.CaiCount}}
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <span class="icon iconfont icon-zan"></span> {{$item.Reply.ZanCount}}
                                    &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                    <a href="javascript:gf.personal.deleteMessage({{ $item.Reply.Id }})"
                                       title="点击删除">
                                        <span class="icon iconfont" style="color: red;">&#xe63c;</span>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </li>
                    {{end}}

                    {{if gt .Data.Total .Data.Size}}
                    <li class="list-group-item gf-list-item">
                        <ul class="pagination">
                            {{.BuildIn.Page .Data.Total .Data.Size }}
                        </ul>
                    </li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>

</div>